body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #50ff5fd0;
    color: rgb(8, 0, 0);
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 2rem;
}

h1, h2 {
    color: hsl(154, 80%, 3%);
}

.gallery-item {
    margin-bottom: 1rem;
}

.gallery-item img {
    max-width: 50%;
    height: auto;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: #50ffad;
    color: rgb(12, 0, 0);
    position: fixed;
    bottom: 0;
    width: 100%;
}
